# Application host URL:
IDENTITY_API_URL=http://localhost:3001

# Host port bound to the API container:
APPLICATION_BIND_PORT=3001

# API container port:
APPLICATION_PORT=3000

# MongoDB database URI:
DATABASE_URI=mongodb://database:27017/identity-api

# MongoDB database schema:
DATABASE_NAME=identity-api

# MongoDB host bind port:
DATABASE_BIND_PORT=27018

# MongoDB container port:
DATABASE_PORT=27017
